# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Script.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Mamertas\Desktop\The logical Isaac\Assets\Script\.idea\.idea.Script.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
